<script type="text/javascript" src="{{STATIC_URL}}related_admin/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    function reload_{{name}}(){
        pk = $("#{{name}}_value").val();
        $.get("/related_admin/one/save/{{name}}/{{model_str}}/?pk="+pk, function (data){
            data = JSON.parse(data);
            $("#{{name}}_form").html(data["form"]);
        })
    }

    function rm_{{name}}(){
        $.get("/related_admin/one/rm/{{name}}/{{model_str}}/?pk={{instance_pk}}", function(){
            reload_{{name}}();
            $("#{{name}}_value").value("");
        });
    }

    function save_{{name}}(){
        $.post("/related_admin/one/save/{{name}}/{{model_str}}/?pk={{instance_pk}}", $("form").serialize(), function(){});
    }

    function save2_{{name}}(){
        $.post("/related_admin/one/save/{{name}}/{{model_str}}/?pk={{instance_pk}}", $("form").serialize(), function (data){
            data = JSON.parse(data);
            if (data["pk"]) $("#{{name}}_value").val(data["pk"]);
            else $("#{{name}}_value").val("");
            $("#{{name}}_form").html(data["form"]);
        });
    }

    reload_{{name}}();
    $("#{{name}}_save").click(save2_{{name}});
    $("#{{name}}_rm").click(function () {
        rm_{{name}}();
        reload_{{name}}();
        $("#{{name}}_value").val("");
    });
    setInterval(save_{{name}}, 300);
})

</script>
<input type="hidden" name="{{name}}" id="{{name}}_value" value="{{instance_pk}}">
<div id="{{name}}_form"></div>
<a href="#" id="{{name}}_save" style="margin-left:106px;font-size:13px;font-weight:bold;">Save</a>
<a href="#" id="{{name}}_rm" style="font-size:13px;font-weight:bold;">Remove</a>